body{
    font-family: 'Raleway', sans-serif;
}
#uno{
    display:inline-block;
    position: relative;
    background-color: yellow; 
    padding: 3px;
    margin: auto;
    width: auto;
    margin-left: 500px;
    margin-right: 10px;
    margin-top: 50px;
    
}
#dos{
    display:inline-block;
    position: relative;
    background-color: fuchsia;
    padding: 3px;
    margin: auto;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}
#tres{
    display:inline-block;
    position: relative;
    background-color: yellow;
    padding: 3px;
    margin: auto;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}